*{
    margin: 0;
    padding: 0;
}


.img{
    size: 100% 100%;
    width: 60vw;
    height: 100vh;
}

.signupbtn{
    color:#0000FF ;
    text-decoration: none;
}

/* .heading{
    font-size: 7vh;
    font-weight: 100;
    margin:1vh auto 2vh auto;
} */

/* .form{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

/* .input{
    width: 25vw;
    /* height: 12vh; */
/* } */ 
/* .navigations{
    font-size: 3vh;
    margin: 2vh;
} */
/* .forgetPassword{
    font-size: 2.5vh;
    margin: 0 0 12vh 16vw;

} */
/* .inputdiv,.inputdiv2{
    height: 12vh;
} */
/* .inputdiv2{
    "flex text-2xl m-2.5
    margin-bottom: 2vh;
/* } */
/* .or{
    /* display: flex; */
    /* font-size: 3.5vh;
    margin: 2.5vh;
}  */

/* .hr {
    width: 50%;
    height: 5px;
    margin: 1vw;
    background-color: rgb(12, 11, 11);
} */

